        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: 'Poppins';
        }

        /*HEADER*/
        header {
            width: 100%;
            height: 230px;
            margin:0;
        }

        #horarios>ul {
            display: flex;
            height: 35px;
            justify-content: space-around;
            color: #fff;
            background-color: darkblue;
        }

        .horarios > li{
            margin-top: 7px;
        }
        nav {
            display: flex;
            justify-content: space-between;
            height: 80px;
            background-color: dodgerblue;
            color: #fff;
        }

        nav > ul {
            display: flex;
            cursor: pointer;
            margin: 20px 140px 0 0;
        }

        nav > ul > a > li {
            margin: 10px 20px 0 0;
            color: #fff;
        }

        nav > ul > a > li:hover {
            color: #000;
            transition: 0.75s;
        }
        #logo {
            font-size: 30px;
            margin: 20px 0 0 160px;
        }

        #logo:hover{color: #000; transition: 1s;}


        /*HEADER*/

        /*SOBRE*/
        main {margin-top: 0;
        }

        #title2 {
            width: 500px;
            margin-left: 260px;
            font-size: 40px;
        }

        #about {
            width: 77%;
            height: 670px;
            border-top: solid 3px dodgerblue;
            border-bottom: solid 3px dodgerblue;
            margin:
                30px 0 0 133px;
        }

        #aboutitens {
            display: flex;
            justify-content: space-between;
            width: 77%;
            height: 670px;
            margin: 30px 0 0 133px;
        }

        #title3 {
            margin: 40px 0 0 133px;
            font-size:40px;
        }

        #abouttext {
            width: 40%;
            font-size: 16px;
            color: #808080;
        }

        .img {
            margin-top: 7px;
        }

        .img:hover{transform: translateY(-10px); transition: 0.75s;}

        .img1 {
            height: 500px;
            margin: 0 0 0 55px
        }

        .img2 {
            height: 230px;
        }

        /*Fim Sobre*/


        /*Produtos*/
        #produtos {
            height: 800px;
            margin-top: 70px;
        }

        .produtostitle {
            font-size: 45px;
            margin: 0 0 0 20%;
        }

        #colors {
            height: 630px;
            width: 85%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
        }

        .colorboxes {
            margin: 120px 0 0 0;
            background-color: #fff;
        }

        .colorboxes:hover{transform: translateY(-35px); transition: 0.75s;}

        .colortitle {
            font-size: 40px;
            margin: 8% 0 0 10%;
            color: #A9A9A9;
        }

        .purple {
            width: 300px;
            height: 380px;
            border-top: #BA55D3 solid 8px;
            margin: 19% 0 0 9%;
        }

        #purpleimg {
            width: 100%;
            margin-top: 16%;
        }

        .pink {
            width: 300px;
            height: 480px;
            border-top: #DC143C solid 8px;
        }

        #pinkimg {
            width: 100%;
            height: 360px;
            margin-top: 12.5%;
        }

        .blue {
            width: 300px;
            height: 435px;
            border-top: #00BFFF solid 8px;
            margin: 14.5% 7% 0 0;
        }

        #blueimg {
            width: 100%;
            margin-top: 17.5%;
        }

        /*FIM PRODUTOS*/